<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <% room_path = room.status.eql?('active') ? room_join_broadcast_path(room) : room_start_broadcast_path(room) %>
      <% room_path_name = room.status.eql?('active') ? "join broadcast" : 'create broadcast' %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.session_id %></td>
        <td><%= link_to room_path_name, room_path, remote: true %></td>
        <td><%= link_to 'Disconnect', room_disconnect_path(room), remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
